.cardSection {
  padding-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.card {
  width: 40%;
  height: 40vh;
  background-color: #f9fcff;
  border-radius: 12px;
}

.ulDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  border-radius: 5px;
}

.list p span {
  background-color: #90c4cc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}

.list p {
  font-size: 18px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.list p:nth-child(2) {
  font-size: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}
