.userDetails {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.date {
  font-weight: 500;
  color: #707070;
}

.filter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

.filter p {
  font-family: "Poppins", sans-serif;
  font-size: 29px;
  font-weight: 500;
}

.filter p span {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
}

.filter select {
  border: none;
  outline: none;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.cardSection {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  overflow-x: hidden;
  width: 100%;
}

.card {
  width: 100%;
  height: 80vh;
  padding: 1rem;
  background-color: #eef2f5;
  border-radius: 10px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
