.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 22px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cancelBtn,
.yesBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
}
.cancelBtn {
  border: 1px solid #cf3636;
  color: #cf3636;
  background-color: #fff;
}
.yesBtn {
  border: 1px solid #17a2b8;
  color: #fff;
  background-color: #17a2b8;
}

.modalHead {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* loading css */
@keyframes loadingDots {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.loadingDots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #ffff;
  width: 10%;
  height: 5vh;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  animation: loadingDots 0.6s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
