.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #ffff;
  color: white;
  width: 12.5%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #edf5fe;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
  color: #cf3636;
  margin-bottom: 20%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logout:hover {
  background-color: #d8c7c7;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo p {
  color: #000000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  gap: 1rem;
  padding: 1rem;
}

.nav ul li p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 50%;
}

.active {
  background-color: #4391ed1a;
}

.content {
  flex: 1;
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 2rem;
  background-color: #ffff;
  overflow-y: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 23%;
  }
  .content {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .sidebar {
    width: 15%;
  }
}
